
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.register h1{
 text-align: center;
  
}
.form-register{
 
  margin: auto;
  overflow-x: hidden;
  background-color: rgb(12, 215, 246); 
  padding: 10px 20px;
  border-radius: 5px;
  align-items: center;
  -webkit-box-shadow: 10px 2px 63px -33px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 2px 63px -33px rgba(0,0,0,0.75);
box-shadow: 10px 2px 63px -33px rgba(0,0,0,0.75);
}
.register-body{
  padding-top: 60px;
  background-color:#fff;
  height: 100vh !important;
}
.input{
   
   margin-left:150px;
}
.btn_login{
  --color: #560bad;
  font-family: inherit;
  display: inline-block;
  width: 8em;
  height: 2.6em;
  line-height: 2.5em;
  margin: 20px;
  position: relative;
  overflow: hidden;
  border: 2px solid var(--color);
  transition: color .5s;
  z-index: 1;
  font-size: 17px;
  border-radius: 6px;
  font-weight: 500;
  color: var(--color);
 }
 
 .btn_login:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: var(--color);
  height: 150px;
  width: 200px;
  border-radius: 50%;
 }
 
 .btn_login:hover {
  color: #fff;
 }
 
 .btn_login:before {
  top: 100%;
  left: 100%;
  transition: all .7s;
 }
 
 .btn_login:hover:before {
  top: -30px;
  left: -30px;
 }
 
 .btn_login:active:before {
  background: #3a0ca3;
  transition: background 0s;
 }
@media screen and (max-width:735px){
 .sidebar{
  width:100px !important;
 }
  .input{
   border: 1px solid black !important;
     margin-left:10px;
    
  }
 }
.link{
  text-decoration: none;
  color: #fff;
}
.link:hover{
  color: #3a0ca3;
}
 /*  */

 .filters{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
box-shadow: 0 0 15px 3px rgb(150, 147, 147);
 }
/*  librart css   //--->  antd */
 .ant-form-item-required::before{
  display: none !important;
 }

.chartsicon1:hover{
  color: aqua;
}
.active{
  background-color: rgb(0, 8, 255);
}
 
 .delete{
  color: red;
  font-size: 1.3rem;
  cursor: pointer;
  transition: 250ms;
 }
 .delete:hover{
  transform: scale(1.6);
 }


.sidebar{
  background-color: #865DFF;
  min-height: 100vh;
  width:15%;
  display: flex;
  flex-direction: column;

 }


.logo{
  width: 50px;
  height: 20px;
margin: 0 auto;
}
.logo_img{
  width: 100%;
 
}
.line{
margin-top: 40px;
  border: 2px solid #fff;
}
.list{
display: flex;
width: 100%;
flex-direction: column;
}
.list_item{
  display: flex !important;
  align-items: center !important;
  color: #fff;
  /* width: 75px; */
}
.slider_link{
  color: #fff;
  text-decoration: none;
}

.table__{
  width: 100%;
}
.full__box{
  background: rgb(88, 134, 176);
  padding: 0 20px;
  width: 100%;
  /* width: 100vh; */
  /* height: 100%; */
}
.table{
  width: 100%;
  overflow-x: scroll;
  
}
.table::-webkit-scrollbar{
  width: 0.5rem;
  height: 0.6rem;
}
.table::-webkit-scrollbar-thumb{
  background-color: #865DFF;
  border-radius: 5px;
/* visibility: hidden; */
}
.content h6{
  color: #fff;
  border-radius: 5px;
  padding: 5px 5px;
  margin-top: 1px;
  background-color: #865DFF;
}
.box{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.charts{
  display: flex;
  flex-direction: column;
  color: #fff;
  cursor: pointer;
}
.doughnut{
  background-color: aliceblue;
  margin-top: 50px !important;
  border-radius: 15px;
  padding: 50px 10px;
}
.barchart{
  background-color: aliceblue;
  margin-top: 50px !important;
  border-radius: 15px;
  padding: 50px 10px;
  
}